%h1.h2 About Us
%p We are Saraswati (sister) and Lal (brother) behind this project.
%p
  This is our generic project with the goal to create a better listening environment
  for online radio. than we have currently available. Hope, you will like it.
%p If you have any questions, feedback or suggestions, please contact us by clicking #{link_to 'here', contact_path}.
