.pricing-header.px-3.py-3.pt-md-5.pb-md-4.mx-auto.text-center
  %h1.display-4 Welcome to Chautari
  %p.lead Your one stop solution for local online media. Listen to radio and watch tv from around the globe.
