- if station.present? && station.average_rating.positive?
  .rating_stars
    = select_tag :average_rating_field, options_for_select((1..5).to_a), id: "average_rating#{station.id}"
    :javascript
      $("#average_rating#{station.id}").barrating({
        theme: 'fontawesome-stars',
        initialRating: #{station.average_rating},
        readonly: true
      });
