- if @stations.present?
  = render @stations
  .mx-auto= paginate @stations, window: 1, remote: true
- else
  .col-md-12
    %p.text-danger.text-center
      %i.fa.fa-exclamation-triangle
      No stations found. Please review your search query.
