- if @stations.present?
  = render @stations
  .col-md-12
    .mx-auto= pagy_bootstrap_nav(@pagy).html_safe
- else
  .col-md-12
    %p.text-danger.text-center
      %i.fa.fa-exclamation-triangle
      No stations found. Please review your search query.
