- stations.each do |station|
  .media.form-group
    .media-left= image_tag(station.logo_url, class: 'border mr-3', size: '60x60', alt: station.name)
    .media-body
      = link_to station.name, station, remote: true
      %div= station.country_name
