.row
  .col-md-12
    %strong= f.label :url, 'Stream URL'
    .input-group.mb-3
      = f.text_field :url, class: 'form-control'
      .input-group-append
        .input-group-text
          = f.check_box :_destroy
          %span.small= f.label :delete, class: 'mb-0 pl-2'
