%h1.h2 Thank you!

.pt-3
  Thank you for listing your station.
  %br
  %br
  We will review
  and publish your station as soon as possible.
  %br
  In the mean time you
  can enjoy listening to other stations..

.pt-3= link_to 'Find Stations', root_path, class: 'btn btn-danger'
