- set_meta_tags title: "Find Radio Stations by Language | Stream Radio Online | Jharko",
                description: 'Find local radio stations by language about sports, news, music and talk.',
                keywords: default_keywords

%h1.h2.mb-3.pb-2.font-weight-light.border-bottom
  By Languages
  - if user_signed_in? && current_user.is_admin?
    = link_to 'New Language', new_language_path, class: 'btn btn-primary float-right'

- if @languages.present?
  .row
    - @languages.in_groups_of(@languages.size/3, false) do |group|
      .col-md-4
        - group.each do |language|
          .form-group
            = link_to language.title, language, remote: true
            - if user_signed_in? && current_user.is_admin?
              = link_to 'Edit', edit_language_path(language)
              = link_to 'Destroy', language, method: :delete, data: { confirm: 'Are you sure?' }

- else
  .text-danger No langugages present.
