.pb-5
.text-center
  %h1.display-1.font-weight-bold 500
  %p.pb-3.font-weight-bold We're sorry, but something went wrong.
  %p.pb-3.font-weight-light Please try again later.
  %p= link_to 'Back to Home', root_path, class: 'btn btn-outline-danger'
