.pb-5
.text-center
  %h1.display-1.font-weight-bold 404
  %p.pb-3.font-weight-bold Oops... Page Not Found!
  %p.pb-3.font-weight-light It apprears the page you are looking for does not exist. Sorry about that.
  %p= link_to 'Back to Home', root_path, class: 'btn btn-outline-danger'
