$red: #dd0e34;

html {
  min-height: 100%;
  position: relative;
}

body {
  margin-bottom: 80px;
  font-family: 'Roboto', sans-serif;
  line-height: 1.5;
}

a { color: $red; }
a:hover { color: lighten($red, 20%); text-decoration: none; }
.form-control:focus { box-shadow: none; }

.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #f5f5f5;
}

.spinner {
  border: 5px solid #f3f3f3; /* Light grey */
  border-top: 5px solid #555;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

/* Flash Messages */
.alert-error {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-alert {
  background-color: #f2dede;
  border-color: #eed3d7;
  color: #b94a48;
  text-align: left;
}

.alert-success {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.alert-notice {
  background-color: #dff0d8;
  border-color: #d6e9c6;
  color: #468847;
  text-align: left;
}

.close-icon {
  position: absolute;
  right: 76px;
  padding: 6px 10px;
  height: 100%;
  z-index: 9;
}
.width-50 { width: 50px; }

.field_with_errors input { border-color: #dc3545; }
.mt-08 { margin-top: 0.8rem !important; }
.lh-15 { line-height: 1.5; }
.lh-25 { line-height: 2.5; }

#error_explanation {
  border: 1px solid #dc3545;
  margin-bottom: 1rem;
  padding: 1rem;
  color: #dc3545;
  h2 { font-size: 1.2rem; }
  ul { margin-bottom: 0; }
}
.rating_stars .br-theme-fontawesome-stars .br-widget a {
  font-size: 14px;
}

.cookies-eu {
  padding: 10px 20px;
  background: lighten(black, 90%);

  .cookies-eu-button-holder .cookies-eu-ok {
    font-size: 12px;
    padding: 4px 16px;
  }
}
